
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myYaPotLabel">Create or edit a YaPot</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="yaPot.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_isPrivatePot">IsPrivatePot</label>
            <input type="checkbox" class="form-control" name="isPrivatePot" id="field_isPrivatePot"
                    ng-model="yaPot.isPrivatePot"
                     />
            <div ng-show="editForm.isPrivatePot.$invalid">
                <p class="help-block"
                    ng-show="editForm.isPrivatePot.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_potQrcode">PotQrcode</label>
            <input type="text" class="form-control" name="potQrcode" id="field_potQrcode"
                    ng-model="yaPot.potQrcode"
                    required />
            <div ng-show="editForm.potQrcode.$invalid">
                <p class="help-block"
                    ng-show="editForm.potQrcode.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_potLabel">PotLabel</label>
            <input type="text" class="form-control" name="potLabel" id="field_potLabel"
                    ng-model="yaPot.potLabel"
                    ng-minlength="4" ng-maxlength="20" />
            <div ng-show="editForm.potLabel.$invalid">
                <p class="help-block"
                    ng-show="editForm.potLabel.$error.minlength" translate-value-min="4">
                    This field is required to be at least 4 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.potLabel.$error.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_potStatus">PotStatus</label>
            <select class="form-control" name="potStatus" ng-model="yaPot.potStatus" id="field_potStatus" required>
                <option value="CLEANED">CLEANED</option>
                <option value="NEEDCLEAN">NEEDCLEAN</option>
                <option value="DELIVERY">DELIVERY</option>
                <option value="CUSTOMER">CUSTOMER</option>
                <option value="CUSTOMERLOST">CUSTOMERLOST</option>
                <option value="CUSTOMERPAIED">CUSTOMERPAIED</option>
                <option value="LOST">LOST</option>
                <option value="BROKEN">BROKEN</option>
            </select>
            <div ng-show="editForm.potStatus.$invalid">
                <p class="help-block"
                    ng-show="editForm.potStatus.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_potColor">PotColor</label>
            <input type="text" class="form-control" name="potColor" id="field_potColor"
                    ng-model="yaPot.potColor"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_potCapacity">PotCapacity</label>
            <input type="number" class="form-control" name="potCapacity" id="field_potCapacity"
                    ng-model="yaPot.potCapacity"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_potBuyDate">PotBuyDate</label>
            <input id="field_potBuyDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="yaPot.potBuyDate" is-open="datePickerForPotBuyDate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForPotBuyDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>

        <div class="form-group">
            <label for="field_yauser">yauser</label>
            <select class="form-control" id="field_yauser" name="yauser" ng-model="yaPot.yauser" ng-options="yaUser as yaUser.id for yaUser in yausers track by yaUser.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_yaorder">yaorder</label>
            <select class="form-control" id="field_yaorder" name="yaorder" ng-model="yaPot.yaorder" ng-options="yaOrder as yaOrder.id for yaOrder in yaorders track by yaOrder.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
