
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myYaAddressLabel">Create or edit a YaAddress</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="yaAddress.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_receiverName">ReceiverName</label>
            <input type="text" class="form-control" name="receiverName" id="field_receiverName"
                    ng-model="yaAddress.receiverName"
                    required ng-minlength="6" ng-maxlength="20" />
            <div ng-show="editForm.receiverName.$invalid">
                <p class="help-block"
                    ng-show="editForm.receiverName.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.receiverName.$error.minlength" translate-value-min="6">
                    This field is required to be at least 6 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.receiverName.$error.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_receiverMobile">ReceiverMobile</label>
            <input type="text" class="form-control" name="receiverMobile" id="field_receiverMobile"
                    ng-model="yaAddress.receiverMobile"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_receiverDistrict">ReceiverDistrict</label>
            <input type="text" class="form-control" name="receiverDistrict" id="field_receiverDistrict"
                    ng-model="yaAddress.receiverDistrict"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_receiverBuilding">ReceiverBuilding</label>
            <input type="text" class="form-control" name="receiverBuilding" id="field_receiverBuilding"
                    ng-model="yaAddress.receiverBuilding"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_receiverFloor">ReceiverFloor</label>
            <input type="text" class="form-control" name="receiverFloor" id="field_receiverFloor"
                    ng-model="yaAddress.receiverFloor"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_receiverCompany">ReceiverCompany</label>
            <input type="text" class="form-control" name="receiverCompany" id="field_receiverCompany"
                    ng-model="yaAddress.receiverCompany"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_isDefault">IsDefault</label>
            <input type="checkbox" class="form-control" name="isDefault" id="field_isDefault"
                    ng-model="yaAddress.isDefault"
                     />
            <div ng-show="editForm.isDefault.$invalid">
                <p class="help-block"
                    ng-show="editForm.isDefault.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_yauser">yauser</label>
            <select class="form-control" id="field_yauser" name="yauser" ng-model="yaAddress.yauser" ng-options="yaUser as yaUser.id for yaUser in yausers track by yaUser.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
